.form {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-family: 'IBM Plex Mono', 'Courier New', monospace;
  /*text-transform: uppercase;*/
}
.form * {
  /*box-sizing: border-box;*/
  box-sizing:content-box;
}


.field {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: var(--brown3);
  padding:20px;
  border-radius: 11px;
}
.field > h2 {
  color:var(--brown1);
}



@media print {
  .form {
    display: none;
  }
}
