.container {
  display: flex;
  flex-direction: column;
  /*height: 90vh;*/
  width: 100%;
  /*justify-content: center;*/
  align-items: center;
  row-gap: 8px;
}

.form {
  overscroll-behavior: contain;
  height: 90vh;
  overflow-y: auto; 
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-family: 'IBM Plex Mono', 'Courier New', monospace;
  /*text-transform: uppercase;*/
}
.form * {
  /*box-sizing: border-box;*/
  box-sizing:border-box;
}


.field {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: #A59471;
  padding:20px;
  border-radius: 11px;
}
.field > h2 {
  color:var(--brown1);
}

.screen {
  width: 100%;
  display: flex;
  justify-content:center;
  column-gap: 100px;
  /*grid-template-columns: 50% 50%;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*overscroll-behavior: contain;*/
  /*height: 90vh;*/
  /*overflow-y: auto; */
}


.dashboard {
  /*background-color: red;*/
  width: 400px;
  justify-content: space-evenly;
  /*align-items: center;*/
  /*height: 5vh;*/
  /*position: fixed;*/
  /*bottom:8px;*/
  /*left:8px;*/
  /*width: 100px;*/
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /*flex-direction: column;*/
  row-gap: 8px;
}

.dashboard * {
  box-sizing:border-box;
  /*background-color: yellow;*/
  /*width: stretch;*/
}

/*.dashboard > form {*/
/*  width: 100%;*/
/*}*/
.dashboard > form > button {
  width:100%;
  /*box-sizing:content-box*/
  box-sizing:border-box;
}



/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  height: 100vh;*/
/*  width: 100%;*/
/*}*/

/*.middle {*/
/*  overflow-y: auto; */
/*}*/

  /*height: 100vh;*/

@media (orientation: portrait) {
  .screen {
    background-color: red;
    flex-direction: column;
  }
}

@media print {
  .form {
    display: none;
  }
  .dashboard {
    display: none;
  }
}
