.container {
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;

  /*background: var(--blue2);*/
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.container:hover {
  opacity: 0.77;
}

.container:hover > img {
  transform: scale(1.25);
}
