.entries {
  display: grid;
  grid-template-columns: 90% 10%;
  font-size: 0.75em;
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.inputs > label > input {
  border-radius: 0;
}

.inputs > label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--brown1);
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing:content-box;
  background-color: crimson;
  z-index: 1;
  opacity: 0.5;
} 
.remove > img {
  z-index: -1;
}



