#root {
--brown1:#413a2c;
--brown2:#856c4d;
--brown3:#A59471;
--brown4:#DACAB0;
--blue1:#e1e1e1;
--blue2:#c8d2ca;
--blue3:#709fa4;
--blue4:#406d7e;
--light-text:rgba(255,255,255, 0.8);

--h:87vh;
--w:400px;
--portrait-h:68vh;
--portrait-w:400px;




  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button:hover  {
  cursor: pointer;
  opacity: 0.7;

}
button:hover > img {
  transform: scale(1.15);
}

button {
  border: 5px solid transparent;
}
input {
  border: 5px solid transparent;
}
html {
  /*background-image: url('/bg.web');*/
  background-image:
    linear-gradient(270deg,rgba(64, 109, 126, 0.8) 0%, rgba(225, 225, 225, 0.7) 50%, rgba(65, 58, 44, 0.8) 100%),
    url("/bg.png");
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background-position: center;
  /*height:fit-content;*/
  /*height: 100%;*/
  /*padding:0; margin:0;*/
}
body {
  /*backdrop-filter: blur(1.5px);*/
  /*padding:0; margin:0;*/
}

/*button:*/

@media print {
  html {
    background-image: none;
  }
}
