#root {
--brown1:#413a2c;
--brown2:#856c4d;
--brown3:#A59471;
--brown4:#DACAB0;
--blue1:#e1e1e1;
--blue2:#c8d2ca;
--blue3:#709fa4;
--blue4:#406d7e;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

