.container * {
  cursor: pointer;
}
.container {
  cursor: pointer;
  display: grid;
  grid-template-columns: 33% 50% 17%;
  background-color: var(--brown2);
  color: var(--light-text);
  text-align: center;
  border-radius: 20px;
  text-transform: capitalize;
  align-items: center;
  /*box-sizing: content-box;*/
}
.container > input {
  /*border-top-right-radius: 20px;*/
  /*border-bottom-right-radius: 20px;*/
  box-sizing:content-box;
}
.container > button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--brown1);
  opacity: .5;
  z-index: 1;
}
.container > button > img {
  z-index: -1;
}

