.container {
  display: grid;
  grid-template-columns: 33% 67%;
  background-color: var(--brown2);
  color: var(--light-text);
  text-align: center;
  border-radius: 20px;
  text-transform: capitalize;
  align-items: center;
  /*box-sizing: content-box;*/
}
.container > input {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing:content-box;
}

.container > textarea {
  max-width: 100%;
}
