.toggle {
  background-color: var(--blue2);
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  z-index: 1;
  opacity: .5;
}
.toggle > img {
  position: relative;
  /*background-color: red;*/
  z-index: -1;

}


.options {
  z-index: 9;
  position: absolute;
}

.options > button {
  background-color: var(--blue2);
  border: 2px solid var(--blue2);
}

.options > button:hover {
  transform: scale(1.4);border-radius: 20px;
}
