.toggle {
  /*width:100%;*/
  background-color: var(--blue2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
  opacity: .5;
}
.toggle > img {
  position: relative;
  /*background-color: red;*/
  z-index: -1;

}


.options {
  z-index: 9;
  position: absolute;
  margin: auto;
  left: 0; right:0;

  width:200px;
}

.options > button {
  background-color: var(--blue2);
  border: 2px solid var(--blue2);

}

.options > button:hover {
  opacity: 1;
  transform: scale(1.4);border-radius: 20px;
}


.container {
  display: grid;
  grid-template-columns: 33% 67%;
  background-color: var(--brown2);
  color: var(--light-text);
  text-align: center;
  border-radius: 11px;
  text-transform: capitalize;
  align-items: center;
  border-radius: 20px;
}
