.container {
  width: 33%;
  overscroll-behavior: contain;
  height: 90vh;
  /*overflow-y: auto; */
  overflow-y: hidden; 
}

.templateSelection > select {
  text-align: center;
  width:100%;
  background-color: var(--blue4);
  color:white;
  border-radius: 5px;
}

@media print {
  .templateSelection{
    display: none;
  }
  .container {
    width: 100%;
    height: auto;
  }
}
