.container {
  width: 36%;
  overscroll-behavior: contain;
  /*height: 90vh;*/
  /*overflow-y: auto; */
  overflow-y: hidden; 
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 11px;
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid var(--blue4);
}

.templateSelection > select {
  text-align: center;
  width:100%;
  background-color: var(--blue4);
  color:white;
  border-radius: 5px;
  height: 3em;
}

@media (orientation: portrait) {
  .container {
    /*background-color: cyan;*/
    width: 100%;
    height: auto;
  }
}

@media print {
  .templateSelection{
    display: none;
  }
  .container {
    width: 100%;
    height: auto;


    background-color:auto;
    border-radius: 0px;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
}
