.container {
  width: 36%;
  overscroll-behavior: contain;
  height: 90vh;
  /*overflow-y: auto; */
  overflow-y: hidden; 
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 11px;
  /*transform: scale(0.8);*/
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid var(--blue4);
}

.templateSelection > select {
  text-align: center;
  width:100%;
  background-color: var(--blue4);
  color:white;
  border-radius: 5px;
}

@media (orientation: portrait) {
  .container {
    background-color: cyan;
    width: 100%;
    height: auto;
  }
}

@media print {
  .templateSelection{
    display: none;
  }
  .container {
    width: 100%;
    height: auto;
  }
}
